# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# env
.env*.local

# typescript
*.tsbuildinfo

# test coverage
coverage/

# OS
.DS_Store
Thumbs.db
